@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
body {
  background-color: #FFE600;
}
.nav {
  $nav: ".nav";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  font-family: "Bangers", system-ui;

  &--main {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &__item {
    position: relative;
    text-decoration: none;
    color: #0047FF;  
    font-weight: 700;
    font-style: normal;
    font-size: 108px;
    transition: color 0.3s;
    line-height: 1;
    &:after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ffffff; /* 번개 색 */
      clip-path: polygon(
        55% 0%, 20% 55%, 45% 55%,
        35% 100%, 80% 40%, 55% 40%
      );
      opacity: 0;
      transform: scale(1) skew(-10deg, -10deg);
      transform-origin: 0 0 ;
      pointer-events: none;
      transition: opacity 0.2s ease, transform 0.2s ease;
      mix-blend-mode: difference ; /* 텍스트 위에 겹치는 느낌 */
    }
    &:hover {
      color: var(--gray-900);
      &:after {
        opacity: 1;
        transform: scale(1) skew(-10deg, -10deg);
      }
    }
  }
}

h1 {
  display: none;
}

